{% extends "base.html" %}
{% block content %}
<div class="container page-form">
     <form id="login-form" action="/auth/stats" method="post">
         <div class="form-group">
              <label for="when">Date:</label>
              <input id="when" name="when" type="date">
         </div>

         <div class="form-group">
              <label for="hits">Hits</label>
              <input type="text" id="hits" class="form-control" name="hits">
         </div>
         <div class="form-group">
              <label for="ab">AB</label>
              <input type="text" id="ab" class="form-control" name="ab">
         </div>
         <hr>
         <div class="form-group">
              <label for="runs">Runs</label>
              <input type="text" id="runs" class="form-control" name="runs">
         </div>
         <div class="form-group">
              <label for="2b">2B</label>
              <input type="text" id="2b" class="form-control" name="2b">
         </div>
         <div class="form-group">
              <label for="3b">3B</label>
              <input type="text" id="3b" class="form-control" name="3b">
         </div>

         <div class="form-group">
              <label for="hr">HR</label>
              <input type="text" id="hr" class="form-control" name="hr">
         </div>

         <div class="form-group">
              <label for="rbi">RBI</label>
              <input type="text" id="rbi" class="form-control" name="rbi">
         </div>

         <div class="form-group">
              <label for="so">SO</label>
              <input type="text" id="so" class="form-control" name="so">
         </div>

         <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
         </div>
     </form>
</div>



{% endblock %}